---
import Text from '../system/Text.astro'

interface Props {
  title: string,
  class?: string,
  collapseGroup?: string
}

const { title, class: className, collapseGroup = 'collapsible' } = Astro.props

---

<div class:list={[collapseGroup, 'max-w-[762px] w-[90%] bg-gray-200 rounded-2xl px-[18px] text-black cursor-pointer', className]} style={{ boxShadow: '0px 10px 20px 10px rgba(0, 0, 0, 0.1)' }}>
  <div class='flex justify-between items-center w-full py-6'>
    <Text type={'h4'} class=''>{title}</Text>
    <div class='w-[42px] h-[42px] bg-green-500 rounded-lg text-white flex items-center justify-center text-3xl'>
      <span class='-top-[2px] relative collapse-icon'>+</span>
    </div>
  </div>
  <div class='collapsible-content'>
    <div class='pb-6'>
      <slot />
    </div>
  </div>
</div>

<style>
  .collapsible-content {
    max-height: 0;
    overflow: hidden;
    transition: all 0.5s ease-in-out;
  }
  .collapsible {
    transition: all 0.5s ease-in-out;
  }
</style>
