---
import '../../global.css'
const { campusName = '' } = Astro.params
import astronautKidsAdmissionBG from '../../images/astronautKidsAdmissionBG.png';
import config from "../../../config"
import Text from "../../components/system/Text.astro"
import TopNavigationBar from "../../components/TopNavigationBar.astro"
import Footer from "../../components/landingPage/Footer.astro"
import GoToCta from '../../components/GoToCta.astro';
import Connect from '../../components/campus/Connect.astro';

const campus = config.campus;
const campusConfig = campus.find(c => c.internalName === "kanakapura");
const contact = campusConfig?.contact;

export function getStaticPaths() {
  return [
    { params: { campusName: "kanakapura" } },
    { params: { campusName: "marathahalli" } },
  ];
}
---
<TopNavigationBar/>

<div class='min-h-[512px] max-h-[512px] w-full flex justify-center items-center flex-col max-md:min-h-[350px]' style={{
  background: `linear-gradient(180deg, rgba(18, 18, 18, 0) -21.78%, rgba(0, 0, 0, 0.7) 68.07%), url(${astronautKidsAdmissionBG})`,
  backgroundPosition: '90% 50%',
  backgroundRepeat: 'no-repeat',
  backgroundSize: 'cover',
}}>
  <Text type={'h2'} class='mt-14 font-bold max-md:mt-10 text-yellow'>Contact Us</Text>
</div>

<div id="contact-us" style="scroll-margin: 60px;">
  <Connect {
    ...contact
  } />
</div>

<GoToCta/>

<Footer/>