---
import Layout from '../layouts/Layout.astro';

import TopNavigationBar from '../components/TopNavigationBar.astro';
import astronautKidsAdmissionBG from '../images/campus/knk/kindergartenknk.jpeg';
import admissionStep1 from '../images/campus/marth/campus-facilities/pre-primary.jpeg';
import admissionStep2 from '../images/campus/knk/campus-facilities/classrooms/1.webp';
import admissionStep3 from '../images/campus/knk/campus-facilities/classrooms/2.webp';



import '../global.css'

import Text from '../components/system/Text.astro';
import Button from '../components/system/Button.astro';
import Collapsible from '../components/admissions/Collapsible.astro';
import CritieriaPill from '../components/admissions/CritieriaPill.astro';
import LocationIcon from '../components/icons/Location.astro'
import BigAdmissionCTA from '../components/BigAdmissionCTA.astro';
import Footer from '../components/landingPage/Footer.astro';
import AdmissionStep from '../components/admissions/AdmissionStep.astro';
import Heading from '../components/system/Heading.astro';

---

<Layout title="Welcome to Astro.">
  <main class="flex flex-col h-screen w-screen relative bg-white">
    <TopNavigationBar />
    <!-- <div class='h-[72.6px] w-full bg-black'>
    </div> -->
    <div 
      class="flex-1 main-container h-screen w-screen text-5xl flex flex-col items-center"
      style={{
        overflowY: 'overlay',
        overflowX: 'hidden',
      }}
    >
      <div class='min-h-[512px] max-h-[512px] w-full flex justify-center items-center flex-col max-md:min-h-[350px]' style={{
        background: `linear-gradient(180deg, rgba(18, 18, 18, 0) -21.78%, rgba(0, 0, 0, 0.7) 68.07%), url(${astronautKidsAdmissionBG})`,
        backgroundPosition: '90% 50%',
        backgroundRepeat: 'no-repeat',
        backgroundSize: 'cover',
      }}>
        <Text type={'h2'} class='mt-14 font-bold max-md:mt-10 text-yellow'>Join the Legacy</Text>
        <Text type={'base'} class='mt-3 text-center max-md:w-[90%] text-white' >Your child’s journey towards a holistic learning environment starts here.</Text>
      </div>
      
      <div class='text-black'>
        <div class="pt-[60px]" />
        <!-- <Text type={'subtitle'} class='text-center mt-14' style={{ opacity: 0.6, letterSpacing: '0.1em' }}></Text> -->
        <Heading 
          first="Our"
          className="z-10"
          second="Leadership"
          subtitle="HOW TO APPLY?"
          subtitleClass="text-black"
        >
          <h2 slot="title" class="text-black text-5xl font-bold text-center max-md:text-4xl max-md:text-[36px] max-sm:text-3xl ">
            Admission
            <span class="font-4 text-primary">Process</span>
          </h2>
        </Heading>
        <!-- <Button>Apply Now</Button> -->
      </div>

      <div class='w-full flex flex-col items-center'>
        <AdmissionStep 
          step="01"
          title='Inquiry & Fill Admission Form'
          thumbnailBG={`url(${admissionStep1})`}
          themeColor="#0281D6"
          textColor="#006BB3"
        >
          <Text type={'regular'} class='text-black leading-[29px]'>
            To initiate the application process, you can either click the <a href="#" class="font-bold underline">Apply Now</a> button on our website to fill the admission form or call us at
            <br/><a href="tel:+918026667333" class="font-bold underline">+91 80 26667333(Kanakapura)</a> or <a href="tel:+918971777444" class="font-bold underline">+91 89717 77444 (Marathahalli)</a>. You can also visit our campus to apply offline.
          </Text>
        </AdmissionStep>
        <AdmissionStep
          step="02"
          title='Official Admission Meeting'
          themeColor="#796014"
          textColor="#564101"
          titleBG="#F5CC4F"
          thumbnailBG={`url(${admissionStep2})`}
        >
        <Text type={'regular'} class='text-black leading-[29px]'>
          After you've completed the form, we'll arrange a meeting with parents, students, and the principal. This sets the foundation for your child's educational journey. In this session, we'll talk about your child's academic history, interests, and how they learn. Together, we'll set academic goals and milestones.
        </Text>
      </AdmissionStep>

      <AdmissionStep
        step="03"
        title='Document Submission & Payment Details'
        themeColor="#052B4C"
        thumbnailBG={`url(${admissionStep3})`}
      >
        <Text type={'regular'} class='text-black leading-[29px]'>
          After reviewing your application and conducting the official admission meeting, we will notify you about the next steps to complete the admission process. This will include submitting necessary documents and completing any remaining formalities. Once you receive the admission acceptance letter, please make sure to submit the fees by the specified date.
        </Text>
      </AdmissionStep>
      </div>
      <div class="pt-[60px]" />
        <Heading 
          first="Our"
          className="z-10"
          second="Leadership"
          subtitle="MEET US IN PERSON"
          subtitleClass="text-black"
        >
          <h2 slot="title" class="text-black text-5xl font-bold text-center max-md:text-4xl max-md:text-[36px] max-sm:text-3xl ">
            Schedule a 
            <span class="font-4 text-primary">Visit</span>
          </h2>
        </Heading>
        
      <!-- <Text type={'subtitle'} class='text-center text-black mt-9' style={{ opacity: 0.6, letterSpacing: '0.1em' }}>Meet us in Person</Text> -->
      <!-- <Text type={'h2'} class='text-center text-black mt-3 mb-8  max-md:mb-0'>Schedule a Visit</Text> -->

      <div class='mt-[44px] mb-[72px] flex flex-row flex-wrap w-full justify-center max-md:justify-center max-md:mb-5'>
        <div class='flex flex-row rounded-lg p-6 max-w-[490px] w-[90%]' style={{
          border: '1px solid rgba(40, 40, 40, 0.12)'
        }}>
          <div class='w-8 h-8 mr-4 relative top-1'>
            <LocationIcon />
          </div>
          <div class='max-md:w-[88%]'>
            <Text type='h4' class='text-black mb-2 font-display font-bold'><span class="text-primary">Kanakapura</span> Campus</Text>
            <Text
              type='sm'
              style={{
                color: '#282828',
                opacity: 0.8
              }}>
              #20, Vasanthpura Road, off Kanakapura Road,
              Bangalore - 560 062
              <br/><br/>
              
              Contact us : +91 80 26667333,
              +91 80 26667444
              <br/><br/>
              
              Email: info@insightacademy.in
            </Text>
          </div>

        </div>

        <div class='flex flex-row rounded-lg p-6 max-w-[490px] w-[90%] ml-[72px] max-md:ml-0 max-md:mt-4' style={{
          border: '1px solid rgba(40, 40, 40, 0.12)'
        }}>
          <div class='w-8 h-8 mr-4 relative top-1'>
            <LocationIcon />
          </div>
          <div class='max-md:w-[88%]'>
            <Text type='h4' class='text-black mb-2 font-display font-bold'><span class="text-primary">Marthahalli</span>  Campus</Text>
            <Text
              type='sm'
              style={{
                color: '#282828',
                opacity: 0.8
              }}>
             Opp. Prestige Tech Park, Behind Croma, Sarjapura Outer Ring Road, Kadubeesanahalli, Marathahalli,
             Bangalore - 560 103
             <br/><br/>
             
             Contact us : +91 89717 77444,  +91 89717 77333
             <br/><br/>
             Email: info@insightacademy.in
          </div>

        </div>
        
      </div>


      <Footer />
      


    </div>
  </main>
</Layout>

<style>
  .collapsible-content {
    max-height: 0;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
  }
  .collapsible {
    transition: all 0.3s ease-in-out;
  }
</style>

<script>
  // @@ts-ignore

  // dev script temp

  import collapsible, { openCollapsible } from '../components/admissions/collapsible'
  collapsible('.collapsible', 0)

  const mainContainer = document.querySelector('.main-container')
  if (mainContainer) {
    // scroll to end 
    // mainContainer.scrollTo(0, mainContainer.scrollHeight)
  }

</script>
