---
import Layout from '../layouts/Layout.astro';

import Text from '../components/system/Text.astro';
import BigAdmissionCTA from '../components/BigAdmissionCTA.astro';

import afterschoolBG from '../images/afterschool/afterschoolBG.png';

import Button from '../components/system/Button.astro';

import TopNavigationBar from '../components/TopNavigationBar.astro';
import AdmissionMarquee from '../components/campus/admissionMarquee.astro';

import '../global.css'
import GalleryMarquee from '../components/campus/galleryMarquee.astro';
import Footer from '../components/landingPage/Footer.astro';

import aerospace from '../images/afterschool/aerospace.png'
import bharatanatyam from '../images/afterschool/bharatanatyam.png'
import german from '../images/afterschool/german.png'
import music from '../images/afterschool/music.png'
import robotics from '../images/afterschool/robotics.png'
import sports from '../images/afterschool/sports.png'

import Constrain from '../components/system/Constrain.astro';




const clubs = [
  {
    title: "Bharatnatyam",
    description: "Indian Classical Dance instruction with theory, history, fitness, and technique refinement.",
    thumbnail: bharatanatyam,
  },
  {
    title: "Musical Instruments",
    description: "Progressive music curriculum for building musicianship and instrument technique.",
    thumbnail: music,
  },
  {
    title: "Robotics",
    description: "Hands-on robotics program fostering creativity, problem-solving, and STEM understanding.",
    thumbnail: robotics,
  },
  {
    title: "Aerospace",
    description: "High-quality space education and services for students.",
    thumbnail: aerospace,
  },
  {
    title: "Sports",
    description: "Specialized sports program unlocking athletic potential and cultivating passion through expert coaching.",
    thumbnail: sports,
  },
  {
    title: "German Language",
    description: "Fostering global fluency through teaching foreign languages.",
    thumbnail: german,
  }
]

---

<Layout title="Welcome to Astro.">
  <main class="flex flex-col h-screen w-screen relative bg-white">
    <div 
      class="flex-1 main-container h-screen w-screen"
      style={{
        overflowY: 'overlay',
        overflowX: 'hidden',
      }}
    >
      <div class='flex flex-col bg-white'>
        <TopNavigationBar />
        <div class='h-[72.6px] w-full bg-black'>
        </div>
  
        <div class='min-h-[350px] max-h-[350px] w-full flex justify-center items-center flex-col max-md:min-h-[350px]' style={{
          background: `linear-gradient(180deg, rgba(18, 18, 18, 0) -21.78%, rgba(0, 0, 0, 0.5) 68.07%), url(${afterschoolBG})`,
          backgroundPosition: 'center',
          backgroundSize: 'cover'

          // backgroundAttachment: 'fixed',
        }}>
          <Text type={'h2'} class='mt-14 max-md:mt-10'>After-School Activities</Text>
          <Text type={'base'} class='mt-3 text-center max-md:w-[90%]' >Expanding Horizons Beyond the Classroom: Thriving in After-School Activities</Text>
          <!-- <a href="https://admissions.glentreeacademy.com" target='_blank'>
            <Button class='mt-3'>Apply Now</Button>
          </a> -->
        </div>

        
        <div class='w-full  px-20 py-16  max-md:px-4 max-md:py-6' style={{
          background: 'linear-gradient(180deg, #000000 0%, #142C1E 108.48%)'
        }}>
          <Constrain class="flex flex-row flex-wrap gap-5 justify-center items-center">
            {clubs.map(club => (
              <div 
                style={{
                  background: 'rgba(255, 255, 255, 0.04)',
                  border: '0.807503px solid rgba(255, 255, 255, 0.24)',
                  backdropFilter: 'blur(16px)',
                  borderRadius: '24px'
                }} 
                class='p-4 w-[400px] min-h-[500px]'
              >
                <div
                  class='w-full h-[320px] bg-cover bg-center rounded-2xl' 
                  style={{
                    backgroundImage: `url(${club.thumbnail})`
                  }}
                ></div>
                <Text type='h4' class='mt-4'>{club.title}</Text>
                <Text type='sm' class='mt-2 text-white/80'>{club.description}</Text>
              </div>
            ))}

          </Constrain>
        </div>
        <Footer />
      </div>
    </div>
  </main>
</Layout>
