---
import DummyImage from "../images/slides/1.jpg" 
import CarouselCard from "../components/carousel/CarouselCard.astro";
import Star from "../components/icons/Star.astro";
import Heading from "../components/system/Heading.astro";


interface Item {
  title: string;
  img: string;
}
const config: Item[] = [
  { title: "Yogaa Day 2", img: DummyImage},
  { title: "Yogaa Day 1", img: DummyImage},
  { title: "Yogaa Day 3", img: DummyImage}
]
const {title,showSocial=true} = Astro.props
const heading = title || "Feature Updates"
---

<div
    class="py-xl flex flex-col max-md:py-l"
    style="
    background: linear-gradient(
    249.28deg,
    rgba(255, 245, 212, 1) 0%,
    rgba(246, 255, 237, 1) 0%,
    rgba(233, 245, 255, 1) 100%
    );
    "
>
    <div class="flex flex-row items-center justify-between px-xl max-md:flex-col max-md:gap-[16px] max-md:px-l">
        <Heading first={heading.split(' ')[0]} second={heading.split(' ')[1]} />
        {showSocial && <div
          class="flex flex-row gap-[13px] items-center justify-center relative font-sans font-bold text-[22px] max-md:text-base">
          <div
            class="text-center"
            style="
            background: radial-gradient(92.18% 99.11% at 26.56% 107.70%, #FD5 0%, #FD5 10.00%, #FF543E 50%, #C837AB 100%);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            transform-origin: 0 0;
            transform: rotate(0deg) scale(1, 1);
            "
          >
          Follow @InsightAcademy for daily updates!
        </div>
  
        <svg
          class="shrink-0 relative overflow-visible"
          style=""
          width="35"
          height="35"
          viewBox="0 0 35 35"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <g clip-path="url(#clip0_412_1454)">
            <path
              d="M17.5083 1.04688C10.5174 1.04688 8.47286 1.05409 8.07543 1.08706C6.64078 1.20631 5.74805 1.43221 4.77547 1.91645C4.02595 2.28865 3.43483 2.72009 2.85144 3.32487C1.78897 4.42781 1.14505 5.78472 0.911953 7.39766C0.798623 8.18069 0.765654 8.34039 0.758957 12.34C0.756382 13.6732 0.758957 15.4278 0.758957 17.7813C0.758957 24.7668 0.766684 26.8093 0.800168 27.206C0.916074 28.6021 1.13501 29.4804 1.59863 30.4412C2.48466 32.2803 4.17688 33.6609 6.17046 34.176C6.86074 34.3537 7.62314 34.4516 8.6019 34.498C9.01659 34.516 13.2433 34.5289 17.4725 34.5289C21.7018 34.5289 25.9311 34.5237 26.3355 34.5031C27.4688 34.4498 28.1268 34.3615 28.8545 34.1734C30.8609 33.6557 32.5222 32.2957 33.4263 30.4309C33.8809 29.4933 34.1114 28.5815 34.2157 27.2583C34.2384 26.9698 34.2479 22.3703 34.2479 17.7769C34.2479 13.1828 34.2376 8.59178 34.215 8.3033C34.1094 6.95875 33.8788 6.05466 33.4096 5.09906C33.0245 4.3168 32.5969 3.73262 31.9762 3.1353C30.8684 2.07718 29.5136 1.43324 27.8992 1.20039C27.1169 1.08731 26.9611 1.05383 22.9585 1.04688H17.5083Z"
              fill="url(#paint0_radial_412_1454)"
            />
            <path
              d="M17.5083 1.04688C10.5174 1.04688 8.47286 1.05409 8.07543 1.08706C6.64078 1.20631 5.74805 1.43221 4.77547 1.91645C4.02595 2.28865 3.43483 2.72009 2.85144 3.32487C1.78897 4.42781 1.14505 5.78472 0.911953 7.39766C0.798623 8.18069 0.765654 8.34039 0.758957 12.34C0.756382 13.6732 0.758957 15.4278 0.758957 17.7813C0.758957 24.7668 0.766684 26.8093 0.800168 27.206C0.916074 28.6021 1.13501 29.4804 1.59863 30.4412C2.48466 32.2803 4.17688 33.6609 6.17046 34.176C6.86074 34.3537 7.62314 34.4516 8.6019 34.498C9.01659 34.516 13.2433 34.5289 17.4725 34.5289C21.7018 34.5289 25.9311 34.5237 26.3355 34.5031C27.4688 34.4498 28.1268 34.3615 28.8545 34.1734C30.8609 33.6557 32.5222 32.2957 33.4263 30.4309C33.8809 29.4933 34.1114 28.5815 34.2157 27.2583C34.2384 26.9698 34.2479 22.3703 34.2479 17.7769C34.2479 13.1828 34.2376 8.59178 34.215 8.3033C34.1094 6.95875 33.8788 6.05466 33.4096 5.09906C33.0245 4.3168 32.5969 3.73262 31.9762 3.1353C30.8684 2.07718 29.5136 1.43324 27.8992 1.20039C27.1169 1.08731 26.9611 1.05383 22.9585 1.04688H17.5083Z"
              fill="url(#paint1_radial_412_1454)"
            />
            <path
              d="M17.501 5.42578C14.1434 5.42578 13.722 5.44046 12.4032 5.50048C11.0871 5.56075 10.1887 5.76913 9.40256 6.07487C8.58942 6.39066 7.89965 6.81308 7.21246 7.50055C6.52475 8.18777 6.10234 8.87755 5.78553 9.69046C5.47903 10.4768 5.2704 11.3755 5.21116 12.6912C5.15217 14.01 5.13672 14.4317 5.13672 17.7894C5.13672 21.1472 5.15166 21.5673 5.21141 22.8861C5.27194 24.2023 5.48031 25.1007 5.78579 25.8868C6.10183 26.7 6.52424 27.3898 7.21169 28.077C7.89862 28.7647 8.58839 29.1882 9.40101 29.504C10.1876 29.8097 11.0863 30.0181 12.4022 30.0784C13.7209 30.1384 14.1421 30.1531 17.4995 30.1531C20.8574 30.1531 21.2775 30.1384 22.5962 30.0784C23.9124 30.0181 24.8118 29.8097 25.5984 29.504C26.4113 29.1882 27.1001 28.7647 27.787 28.077C28.4747 27.3898 28.8971 26.7 29.2139 25.8871C29.5178 25.1007 29.7265 24.202 29.7883 22.8863C29.8475 21.5675 29.863 21.1472 29.863 17.7894C29.863 14.4317 29.8475 14.0103 29.7883 12.6915C29.7265 11.3753 29.5178 10.4768 29.2139 9.69072C28.8971 8.87755 28.4747 8.18777 27.787 7.50055C27.0993 6.81283 26.4116 6.3904 25.5977 6.07487C24.8095 5.76913 23.9106 5.56075 22.5944 5.50048C21.2757 5.44046 20.8558 5.42578 17.4971 5.42578H17.501ZM16.3919 7.65381C16.7211 7.6533 17.0884 7.65381 17.501 7.65381C20.802 7.65381 21.1932 7.66566 22.4968 7.7249C23.7022 7.78002 24.3564 7.98145 24.7922 8.15068C25.3692 8.37477 25.7805 8.64264 26.213 9.07537C26.6457 9.5081 26.9136 9.92022 27.1382 10.4972C27.3074 10.9325 27.5091 11.5867 27.5639 12.7922C27.6232 14.0955 27.6361 14.487 27.6361 17.7866C27.6361 21.0861 27.6232 21.4776 27.5639 22.781C27.5088 23.9864 27.3074 24.6407 27.1382 25.076C26.9141 25.6529 26.6457 26.0638 26.213 26.4963C25.7803 26.929 25.3695 27.1969 24.7922 27.4209C24.357 27.5909 23.7022 27.7919 22.4968 27.847C21.1935 27.9062 20.802 27.9191 17.501 27.9191C14.1998 27.9191 13.8085 27.9062 12.5052 27.847C11.2998 27.7913 10.6456 27.5899 10.2095 27.4207C9.63257 27.1966 9.22046 26.9287 8.78774 26.496C8.35503 26.0633 8.08716 25.6522 7.86256 25.0749C7.69334 24.6396 7.49166 23.9854 7.4368 22.7799C7.37756 21.4766 7.36571 21.0851 7.36571 17.7835C7.36571 14.4819 7.37756 14.0924 7.4368 12.7891C7.49192 11.5836 7.69334 10.9294 7.86256 10.4936C8.08664 9.91661 8.35503 9.50449 8.78774 9.07177C9.22046 8.63904 9.63257 8.37116 10.2095 8.14655C10.6453 7.97655 11.2998 7.77565 12.5052 7.72027C13.6457 7.66875 14.0877 7.6533 16.3919 7.65072V7.65381ZM24.1004 9.70669C23.2814 9.70669 22.6168 10.3705 22.6168 11.1898C22.6168 12.0089 23.2814 12.6734 24.1004 12.6734C24.9195 12.6734 25.584 12.0089 25.584 11.1898C25.584 10.3707 24.9195 9.70617 24.1004 9.70617V9.70669ZM17.501 11.4402C13.9947 11.4402 11.152 14.283 11.152 17.7894C11.152 21.2958 13.9947 24.1374 17.501 24.1374C21.0073 24.1374 23.849 21.2958 23.849 17.7894C23.849 14.283 21.0073 11.4402 17.501 11.4402ZM17.501 13.6682C19.7769 13.6682 21.6221 15.5132 21.6221 17.7894C21.6221 20.0654 19.7769 21.9106 17.501 21.9106C15.2249 21.9106 13.3799 20.0654 13.3799 17.7894C13.3799 15.5132 15.2249 13.6682 17.501 13.6682Z"
              fill="white"
            />
          </g>
          <defs>
            <radialGradient
              id="paint0_radial_412_1454"
              cx="0"
              cy="0"
              r="1"
              gradientUnits="userSpaceOnUse"
              gradientTransform="translate(9.65367 37.1077) rotate(-90) scale(33.1831 30.8704)"
            >
              <stop stop-color="#FFDD55" />
              <stop offset="0.1" stop-color="#FFDD55" />
              <stop offset="0.5" stop-color="#FF543E" />
              <stop offset="1" stop-color="#C837AB" />
            </radialGradient>
            <radialGradient
              id="paint1_radial_412_1454"
              cx="0"
              cy="0"
              r="1"
              gradientUnits="userSpaceOnUse"
              gradientTransform="translate(-4.85196 3.45886) rotate(78.678) scale(14.8331 61.1565)"
            >
              <stop stop-color="#3771C8" />
              <stop offset="0.128" stop-color="#3771C8" />
              <stop offset="1" stop-color="#6600FF" stop-opacity="0" />
            </radialGradient>
            <clipPath id="clip0_412_1454">
              <rect
                width="34"
                height="34"
                fill="white"
                transform="translate(0.5 0.789062)"
              />
            </clipPath>
          </defs>
        </svg>
        </div>}
        
    </div>
    <div class="overflow-x-auto">
      <div class="p-l pl-xl pb-0 flex gap-20 max-md:px-l max-md:gap-4">

        {
          config.map((item, index) => (
            <CarouselCard
              title={item.title}
              img={item.img} 
              index={index}
              />
          ))
        }
      </div>
    </div>
</div>