---
import Button from "./system/Button.astro";
import Modal from "./system/Modal.astro";
import Text from "./system/Text.astro";
import bgSmallKnk from '../images/campus/knk/bgSm.png'
import bgSmallMarth from '../images/campus/marth/bgSm.png'
import config from '../../config'

---
<Modal id={'login-prompt'} class="h-screen backdrop-blur-sm p-9 max-md:p-0" containerClass="flex flex-row items-center justify-center">
  <div class="py-4 max-md:w-[87%] rounded-md bg-white flex flex-col gap-3 relative">
    <Text type="subtitle" class="font-bold">Choose a branch <br/></Text>
    <!-- <div class="pt-1" /> -->
    <div class="flex flex-row max-md:flex-col px-5 w-full rounded-md overflow-hidden">
      <div data-campus-container class="w-[340px] h-[458px] max-md:w-full max-md:h-[260px] overflow-hidden relative active ">
        <img src={bgSmallKnk} class="w-full h-full object-cover transition-all duration-300 rounded-l-md max-md:rounded-l-none max-md:rounded-t-md" alt="Kanakpura Campus" />
        <div class="w-full h-full rounded-l-md max-md:rounded-l-none max-md:rounded-t-md bg-overlay transition-all duration-300 top-0 left-0 bg-black/50 absolute z-10 flex flex-col justify-between items-center py-[24px]">
          <div />
          <Text type="h4" class="font-display text-[28px] max-md:text-[24px] font-bold text-white text-center">Kanakapura Branch <br/> (ICSE)</Text>
          <a href={config.campus[1].admissionLink} data-btn>
            <Button>Apply Now</Button>
          </a>
        </div>
      </div>
      <div data-campus-container class="w-[340px] h-[458px] max-md:w-full max-md:h-[260px] overflow-hidden relative">
        <img src={bgSmallMarth} class="w-full h-full object-cover transition-all duration-300 rounded-r-md max-md:rounded-r-none max-md:rounded-b-md" alt="Marathahalli Campus" />
        <div class="w-full h-full rounded-r-md max-md:rounded-r-none max-md:rounded-b-md bg-overlay transition-all duration-300 top-0 left-0 bg-black/50 absolute z-10 flex flex-col justify-between items-center py-[24px]">
          <div />
          <Text type="h4" class="font-display text-[28px] max-md:text-[24px] font-bold text-white text-center">Marathahalli Branch <br/> (CBSE)</Text>
          <a href={config.campus[1].admissionLink} data-btn>
            <Button>Apply Now</Button>
          </a>
        </div>
      </div>
    </div>

    <div class="w-12 h-12 absolute -top-5 -right-5 cursor-pointer bg-primary rounded-[50%] p-0" data-modal-close={'login-prompt'}>
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" width="100%" height="100%" fill="none">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M44 24C44 35.0457 35.0457 44 24 44C12.9543 44 4 35.0457 4 24C4 12.9543 12.9543 4 24 4C35.0457 4 44 12.9543 44 24ZM17.9393 17.9393C18.525 17.3535 19.4748 17.3535 20.0606 17.9393L23.9999 21.8787L27.9393 17.9393C28.525 17.3536 29.4748 17.3536 30.0606 17.9393C30.6464 18.5251 30.6464 19.4749 30.0606 20.0607L26.1213 24L30.0605 27.9393C30.6463 28.525 30.6463 29.4748 30.0605 30.0606C29.4747 30.6464 28.525 30.6464 27.9392 30.0606L23.9999 26.1213L20.0606 30.0606C19.4748 30.6464 18.5251 30.6464 17.9393 30.0606C17.3535 29.4748 17.3535 28.5251 17.9393 27.9393L21.8786 24L17.9393 20.0606C17.3535 19.4748 17.3535 18.5251 17.9393 17.9393Z" fill="white"/>
      </svg>
    </div>
  </div>
</Modal>

<style>
  .bg-overlay.active {
    background: linear-gradient(180deg, rgba(5, 43, 76, 0.00) 0%, #052B4C 100%);
  }
</style>



<script>
  const campusContainers = document.querySelectorAll('[data-campus-container]');
  campusContainers.forEach((campusContainer) => {
    const button = campusContainer.querySelector('[data-btn]');
    const img = campusContainer.querySelector('img');
    const bgOverlay = campusContainer.querySelector('.bg-overlay');
    
    button.addEventListener('mouseenter', () => {
      img.classList.add('scale-105');
      bgOverlay.classList.add('active');
    });
    button.addEventListener('mouseleave', () => {
      img.classList.remove('scale-105');
      bgOverlay.classList.remove('active');
    });
  });
</script>