---
import campusImage from '../images/campus/gas/1.jpeg';
import FilledArrowCircle from './icons/FilledArrowCircle.astro';
import Text from './system/Text.astro';
---
<div
  class="p-xl flex flex-row items-center justify-between self-stretch shrink-0 relative overflow-hidden
        max-md:p-m max-sm:flex-col max-sm:items-start
  "
  style=`
    background: linear-gradient(
      to left,
      rgba(27, 34, 38, 0.8),
      rgba(27, 34, 38, 0.8)
    ), url(${campusImage});
  `
>
  <div class="flex flex-col gap-10 items-start justify-start shrink-0 relative">
    <div
      class="flex flex-col gap-[30px]"
    >
  
      <div class="flex gap-8 flex-col">

        <p
          class='text-clamp-1 uppercase  text-white font-display font-bold text-4xl max-sm:text-[28px]'
        >
          WE SAVED YOUR PART<br /> 
          <span
          >IN OUR <span class='text-yellow'>legacy</span>
  
          </span> 
      
        </p>
        <p      
          class='font-display uppercase text-gray-800 text-4xl font-bold max-sm:text-[28px] flex gap-3 items-center'>
            READY TO JOIN?
            <!-- <span class="text-yellow max-sm:flex hidden">
              <FilledArrowCircle 
                  svgClass={"w-[40px] h-[40px]"} 
                  color={"#F5CC4F"} 
                />
            </span> -->
      </p> 
      </div>
     
    </div>
  </div>
  <div class="text-yellow">
    <FilledArrowCircle 
        svgClass={"w-[100px] h-[100px] max-md:w-[80px] max-md:h-[80px]"} 
        color={"#F5CC4F"} 
      />
  </div>
</div>
