---
import Button from './system/Button.astro';
import Text from './system/Text.astro';

import psjaAward from '../images/psjaAward.png'
import meritAwards from '../images/meritAwards.png'
import heroBG from '../images/heroBG.png'
import slide1 from '../images/slides/1.jpg'
import slide2 from '../images/slides/2.jpg'
import slide3 from '../images/slides/3.jpg'
import slide4 from '../images/slides/4.jpg'
import slide5 from '../images/slides/5.jpg'
import slide6 from '../images/slides/6.jpg'
// import slide7 from '../images/slides/7.png'
// import slide8 from '../images/slides/8.jpeg'
// import slide9 from '../images/slides/9.jpg'

const slides = [
  {slide: slide1, position: 'center'},
  {slide: slide2, position: 'center'},
  {slide: slide3, position: 'center 20%'},
  {slide: slide4, position: 'center 37%'},
  {slide: slide5, position: 'top'},
  {slide: slide6, position: 'top'},
  // {slide: slide7, position: 'center'},
  // {slide: slide8, position: 'center'},
  // {slide: slide9, position: 'center'},
]


---
<div 
  class="h-screen w-full bg-cover bg-top relative bg-black flex flex-col"
>
    <div class='h-[72.6px] w-full bg-black'>
    </div>

    <div class='relative w-full h-full '>
      {slides.map(({slide, position}, i) => (
        <div class:list={['slideshow-item w-full h-full absolute top-0 left-0 bg-no-repeat bg-cover', i === 0 ? 'opacity-1' : 'opacity-0']} style={{
          backgroundImage: `linear-gradient(0deg, #000000 0%, rgba(0, 0, 0, 0) 96.35%), url("${slide}")`,
          transition: '1s all ease-in-out',
          backgroundPosition: position,
        }}></div>
      ))}
      <div class="relative z-50 flex flex-col h-full">
        <div class="h-[30vh] absolute bottom-0 left-0 w-full md:hidden items-center justify-center max-md:px-5" style={{
          background: 'linear-gradient(180deg, rgba(3, 3, 3, 0) 0%, #030303 10.29%)'
        }}></div>
        <div class="w-full h-full flex flex-col max-md:justify-end max-md:px-5">
          <div class="mt-auto flex flex-col items-center max-md:items-start max-md:mt-0" data-scroll-section>
            <Text
              type="h1"
              class='mt-28 text-center max-md:text-left max-md:mt-0 disappear daisy daisy-y-1 daisy-1'
              data-scroll data-scroll-class="appear" data-scroll-repeat="true"
            >Unlock Your Child’s Potential</Text>
            <Text
              type="lg"
              class='mt-3 text-2xl text-center daisy daisy-y-1 daisy-2'
              data-scroll
              data-scroll-direction="horizontal"
            >Shaping A Brighter Future for Your Child</Text>
            <div class="flex flex-row mt-5 daisy daisy-y-2 daisy-3">
              <a href="https://admissions.glentreeacademy.com" target='_blank'>
                <Button>Apply Now</Button>
              </a>
              <!-- <div class="ml-3 max-md:hidden">
                <Button secondary>Request for Callback</Button>
              </div> -->
            </div>
          </div>
      
          <div class="flex flex-row h-36 w-full mt-auto max-md:mt-12 items-center justify-around flex-wrap max-md:flex-col max-md:h-auto max-md:items-start relative z-20">
            <div class="flex flex-row max-md:mb-5 daisy daisy-y-1 daisy-4">
              <img src={psjaAward} alt="PSJA Award" class="h-12" />
              <div class="ml-4">
                <Text type='sm'>
                  Rank 1 in <span class="text-[#56cf8a] font-extrabold">Holistic Education</span>
                </Text>
                
                <Text type='sm' class='text-gray-600 max-md:text-sm'>
                  India’s TOP PSJA 2022
                </Text>
              </div>
            </div>
      
            <div class="flex flex-row max-md:mb-5 daisy daisy-y-1 daisy-5">
              <img src={meritAwards} alt="PSJA Award" class="h-12 mr-[8px]" />
              <div class="ml-4">
                <Text type='sm'>
                  Best <span class="text-[#56cf8a] font-extrabold">Emerging</span> School
                </Text>
                
                <Text type='sm' class='text-gray-600 max-md:text-sm'>
                  India’s School Merit Award
                </Text>
              </div>
            </div>
      
            <div class="flex flex-row max-md:mb-5 daisy daisy-y-1 daisy-6">
              <img src={psjaAward} alt="PSJA Award" class="h-12" />
              <div class="ml-4">
                <Text type='sm'>
                  Rank 1 in <span class="text-[#56cf8a] font-extrabold">Integrated Learning</span>
                </Text>
                
                <Text type='sm' class='text-gray-600 max-md:text-sm'>
                  India’s TOP PSJA 2022
                </Text>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>

<script>
  const slideshowItems = Array.from(document.querySelectorAll<HTMLElement>('.slideshow-item'));
  let slideshowIndex = 0;


  function moveSlides(items: Array<HTMLElement>) {
    items.forEach((item, i) => {
      // console.log(i, slideshowIndex)
      if (i === slideshowIndex) {
        item.style.opacity = '1';
        return;
      } else {
        item.style.opacity = '0'
      }
    })
    slideshowIndex = (slideshowIndex + 1) % items.length;
  }
  
  moveSlides(slideshowItems)
  setInterval(() => {
    moveSlides(slideshowItems)
  }, 3000)
</script>
