---
import Text from "./system/Text.astro";


---
<h1 class="font-display font-bold uppercase mt-[auto] text-[62px] leading-[62px]
            max-md:text-[42px] max-md:leading-[42px]
            max-sm:text-[28px] max-sm:leading-[30px]
                
            "
             
             >
    Experience <br> A <span class="text-yellow">
         Legacy
    </span>
    <br>
    <div class="flex gap-3">
    of  
    <div class={`text-yellow relative overflow-hidden text-container h-[62px] w-[600px] max-md:`}>
        <div class="text translate-y-[62px]">
            excellence
        </div>
        <div class="text translate-y-[62px]">
            innovation
        </div>
        <div class="text translate-y-[62px]">
            achievements
        </div>
    </div>
    </div>

    
</h1>

<style>
      .text{
        position: absolute;
        inset: 0;
        transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
    }
    
</style>
<script>
let texts = Array.from(document.querySelectorAll<HTMLElement>('.text'));
let counter = 0;
let interval: string | number | NodeJS.Timer | undefined;

const textArray = [
        "excellence",
        "innovation",
        "achievements",
    ]
function moveTextOneByOne(){
    texts.forEach((text, index) => {
        if(index === counter){
            text.style.opacity = '1';
            text.style.transform = 'translateY(0)';

        }else{
            text.style.opacity = '0'
            text.style.transform = 'translateY(-42px)';

        }
    })
    counter = (counter + 1) % texts.length;
}
const init = () => {
    counter = 0
    clearInterval(interval);
    interval = setInterval(() => moveTextOneByOne(), 3000);
    texts = Array.from(document.querySelectorAll<HTMLElement>('.text'));
    moveTextOneByOne();
}
init()

document.addEventListener('astro:beforeload', () => init());


  </script>