---
import Text from "../system/Text.astro";

---

<div class='w-3 h-3 mx-14 relative'>
  <svg>
    <rect x="5.96875" y="0.343262" width="8" height="8" transform="rotate(45 5.96875 0.343262)" fill="white"/>
  </svg>
</div>
<Text type='h4' class='font-display text-white'>Admission Open</Text>
<div class='w-3 h-3 mx-14 relative'>
  <svg>
    <rect x="5.96875" y="0.343262" width="8" height="8" transform="rotate(45 5.96875 0.343262)" fill="white"/>
  </svg>
</div>
<Text type='h4' class='font-display text-accent-bold'>2023-2024</Text>