---
import { type StarProps, stars } from "./config";

const { step = "mini", class: className } = Astro.props as StarProps;
---

<div class={className}>
    {(<Fragment set:html={stars[step]} />)}
</div>
