---
export interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<!-- <link rel="stylesheet" href="node_modules/@glidejs/glide/dist/css/glide.core.min.css"> -->
		<meta name="generator" content={Astro.generator} />
		<title>Best CBSE School in Bangalore | Glentree Academy School</title>
		<meta name="description" content="Glentree Academy school is affiliated to CBSE. It is ranked amongst the top CBSE schools in Bangalore. Enquire Now for AY 2023-24." />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;700&display=swap" rel="stylesheet">
		<!-- <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet"> -->
		<link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />

		<!-- Google tag (gtag.js) -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=G-SEL743GRSY"></script>
		<script>
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());

			gtag('config', 'G-SEL743GRSY');
		</script>
		<!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/locomotive-scroll@3.5.4/dist/locomotive-scroll.css">  -->
	</head>
	<body>
		<slot />
		<!-- <script src="https://cdn.jsdelivr.net/npm/locomotive-scroll@3.5.4/dist/locomotive-scroll.min.js"></script> -->
		<!-- <script src="./scroll.js" type="module"></script> -->
		<!-- <script src="https://cdn.rawgit.com/michalsnik/aos/2.3.4/dist/aos.js"></script> -->

	</body>
</html>
<style is:global>
	:root {
		--accent: 124, 58, 237;
		--accent-gradient: linear-gradient(45deg, rgb(var(--accent)), #da62c4 30%, white 60%);
	}
	html {
		font-family: system-ui, sans-serif;
		background-color: #F6F6F6;
	}
	code {
		font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
			Bitstream Vera Sans Mono, Courier New, monospace;
	}

</style>

<script>
	const observer = new IntersectionObserver((entries) => {
		entries.forEach(entry => {
			const isIntersecting = (
				entry.isIntersecting
			) || entry.target.classList.contains('daisy-fixed')
			if (isIntersecting) {
				entry.target.classList.add('daisy-show')
			}
		})
	}, {
		root: document.querySelector("#scroll-area")
	})

	const hiddenElements = document.querySelectorAll('.daisy')
	hiddenElements.forEach(element => {
		observer.observe(element)
	})
</script>